@font-face {
    src: url(../font/Constantine.ttf);
    font-family: Constantine; 
}
@font-face {
    src: url(../font/LiberationSerif-Regular.ttf);
    font-family: Liberation; 
}

body {
		background-color: #e8d0e0;
		font-family: Liberation;
		height: 2800px;		
	}
	

nav a{
	display: block;
	width: 300px;
	
}

.no-style {
	list-style-type: none;
	
}
	
div {
		position: absolute;
		right: 50px;
		top: 10px;	
	}
	
img {
		border-radius: 10px;
		opacity: 0.5;
		position: fixed;
		top: 10px;
		right: 50px;
	}
	
	
h2 {
		margin-left: 7%;
		margin-top: 15%;
		font-family: Constantine;
		color: #33510b;
	}
	
ol {
	font-size: 20px;
	font-weight: bold;
	
}	
	
ul {
		padding-bottom: 20px;
	}
	
ul li a {
		text-decoration: none;
		font-weight: bold;
		font-size: 18px;
		color: #577f22;
		margin-left: 3.5%;
	}
	
a {
		text-decoration: none;
		font-weight: bold;
		font-size: 22px;
		color: #ba1baa;
		padding-top: 10px;
	}
	
a:hover {
		color: #6fa02e;
		font-size: 18pt;
		padding-top: 0px;
		transition: all 1s;
	}
		
li {
		margin: 10px;
	}


a {
	margin-left: 7%;
	color: #33510b;
	
}

.parallax {
	position: fixed;
	bottom: 0;
	width: 92.8%;
	margin: auto;
    background-image: url(../img/pannon.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
	z-index: -1000;
}

.parallax h1 {
	font-family: Constantine;
	position: relative;
	top: 3%;
  padding: 20px 0px;
  font-size: 5vW;
  color: #fff;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
   
      
}	

.parallax+p {
	margin-bottom: 10px;
}	
